{
    "root": true,
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint-config-airbnb-base"
    ],
    "rules": {
        "compat/compat": "error",
        "indent": ["error", 4],
        "import/no-unresolved": false
    }
}
