.c-accordion__panel {
    &[aria-hidden="true"] {
        visibility: hidden;
        height: 0;
    }

    &[aria-hidden="false"] {
        visibility: visible;
    }
}

.c-accordion--is-ready {
    .c-accordion__header {
        cursor: pointer;
    }

    .c-accordion__panel {
        overflow: hidden;
    }
}
