/* ===========================================================
	Abstracts - Breakpoints
=========================================================== */

$mq-sm: em(512px);
$mq-md: em(768px);
$mq-lg: em(1024px);
$mq-xl: em(1280px);
$mq-2xl: em(1400px);
