<section class="c-accordion js-accordion">
	<h2 id="accordion-header-1" class="c-accordion__header js-accordion__header">Accordion header 1</h2>
	<div id="accordion-panel-1" class="c-accordion__panel js-accordion__panel">
		<div class="c-accordion__inner">
			<h3>Accordion panel 1</h3>
			<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.</p>
		</div>
	</div>
	<h2 id="accordion-header-2" class="c-accordion__header js-accordion__header" data-accordion-is-open="true">Accordion header 2</h2>
	<div id="accordion-panel-2" class="c-accordion__panel js-accordion__panel">
		<div class="c-accordion__inner">
			<h3>Accordion panel 2</h3>
			<p>Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
		</div>
	</div>
	<h2 id="accordion-header-3" class="c-accordion__header js-accordion__header">Accordion header 3</h2>
	<div id="accordion-panel-3" class="c-accordion__panel js-accordion__panel">
		<div class="c-accordion__inner">
			<h3>Accordion panel 3</h3>
			<p>Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue.</p>
		</div>
	</div>
</section>
